# Server Configuration
PORT=8000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# PostgreSQL Database Connection URL
# Replace <PASSWORD> with your local PostgreSQL password
DATABASE_URL=postgresql://postgres:<PASSWORD>@localhost:5432/sales_display

# Display Rotation Configuration
DEFAULT_ROTATION_INTERVAL=10
AWS_ENDPOINT_URL_S3="https://br-blue-moon-b5t5b2zb.storage.c-7.us-east-2.aws.neon.tech"